<h2>Word & Definitions</h2>
<h3>Definition(s) of: <%=@word.word%></h3>
<ol>
  <%@word.definitions.each do |definition| %>
    <li><%=definition%></li>
  <%end%>
</ol>
<form action="/word/:word" method="post">
  <input type="text" name="add_definition">
  <button type="submit" name="add_definition_btn"></button>
</form>
