<h2>Word & Definitions</h2>
<h3>Definition(s) of: <%=@current_word.word%></h3>
<ol>
  <%@current_word.definitions.each do |definition| %>
    <li><%=definition%></li>
  <%end%>
</ol>
<form action="/word/:word" method="post">
  <input type="text" name="add_definition">
  <button type="submit" name="add_definition_btn" value="<%=@current_word.word%>" class="btn btn-primary">Add Definition</button>
</form>

<form action="/back" method="get">
  <button type="submit" name="return_button" class="btn btn-primary">Return to Word List</button>
</form>
